<%- include("partials/header"); %>

<div class="container-fluid">
  <h2>Courses</h2>
<ul class="course-list">
  <% courses.forEach(function(course) { %>
    <li class="course-list-item"> <a class="course-list-item" href="<%= course.url %>"> <%= course.name %> - <%= course.location %> </a></li>
<%  }) %>
</ul>
</div>



<%- include("partials/footer"); %>
