<%- include("partials/header"); %>

<div class="container-fluid">
  <h2><%= review.title %></h2>
  <p><%= course.location %></p>
<div class="review-img-container">
    <img src="../<%= review.imageLocation %>" alt="<%=course.name%>" class="review-image" >
</div>
  <p class="review-paragraph"><%= review.content %></p>

</div>

<!-- <div class="review-btn-container">
  <a href="prevId" class="btn btn-light" type="button" name="previous" >Previous </a>
  <a href=" nextId" class="btn btn-light" type="button" name="next" >Next</a>
</div> -->


<%- include("partials/footer"); %>
